{
    "password": "yourpassword",
    "openwrtIP": "172.16.0.1",
    "retryTimes": 3,
    "retryIntervalMS": 2000,
    "preferredNodeKeywords": ["vless", "cali"],
    "dislikedNodeKeywords": ["nothing", "dontlike"],
    "checkSite": "https://www.google.com",
    "checkSiteTimeoutMS": 1500
}